:root {
    --primary: #2349aa;
    --danger: #dc2626;
    --success: #16a34a;
    --bg: #f8fafc;
    --radius: 8px;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary);
    color: #fff;
    padding: 15px;
    text-align: center;
}